@import "tailwindcss";

@theme {
  --color-primary: #005BBB;
  --font-sans: "Inter", "Roboto", "Montserrat", sans-serif;
}

@layer base {
  html {
    font-family: var(--font-sans);
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }
}

